# Anthropic API Key — get from https://console.anthropic.com
CLAUDE_API_KEY=your_anthropic_api_key_here



# n8n settings, to view the demo workflow
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_HOST=localhost

# Allow n8n to read/write files in your project directory
# Replace with the full path to your cloned repo



N8N_RESTRICT_FILE_ACCESS_TO=C:\your\path\to\call_center_agent
